# Space Missions

--Analysis--

### Part 1: Simple DataFrame clean up
1. Create a Data Frame with the CSV file
2. Separated Data Frames: US and Rest of the World
3. Separated the Location by comma to obtain:
   USA: Complex ID, Launch Site, State, Country
   Rest of World: Complex ID, Launch Site, Country

In [5]:
import pandas as pd

#Specify the file path and encoding
file_path = 'Resources\space_missions.csv'
encoding = 'ISO-8859-1'  # or 'latin1'

#Load the CSV file with the specified encoding
spaceMissions_df = pd.read_csv(file_path, encoding=encoding)

#Display the FULL loaded DataFrame
spaceMissions_df

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
0,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success
1,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03,02:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success
2,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure
3,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01,03:48:00,Juno I,Explorer 1,Retired,NaN,Success
4,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05,07:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure
...,...,...,...,...,...,...,...,...,...
4625,SpaceX,"SLC-4E, Vandenberg SFB, California, USA",2022-07-22,17:39:00,Falcon 9 Block 5,Starlink Group 3-2,Active,67,Success
4626,CASC,"LC-101, Wenchang Satellite Launch Center, China",2022-07-24,06:22:00,Long March 5B,Wentian,Active,NaN,Success
4627,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2022-07-24,13:38:00,Falcon 9 Block 5,Starlink Group 4-25,Active,67,Success
4628,CAS Space,"Jiuquan Satellite Launch Center, China",2022-07-27,04:12:00,Zhongke-1A,Demo Flight,Active,NaN,Success
4629,CASC,"LC-3, Xichang Satellite Launch Center, China",2022-07-29,13:28:00,Long March 2D,Yaogan 35 Group 03,Active,29.75,Success

In [6]:
#Get unique values in the "Launch Site" column.  Will need to fix rows that are missing a country, except for "Pacific Ocean"
unique_launch_sites = spaceMissions_df['Location'].unique()
unique_launch_sites

array(['Site 1/5, Baikonur Cosmodrome, Kazakhstan',
       'LC-18A, Cape Canaveral AFS, Florida, USA',
       'LC-26A, Cape Canaveral AFS, Florida, USA',
       'LC-5, Cape Canaveral AFS, Florida, USA',
       'Douglas F4D Skyray, Naval Air Station Point Mugu, California, USA',
       'SLC-17A, Cape Canaveral AFS, Florida, USA',
       'LC-11, Cape Canaveral AFS, Florida, USA',
       'SLC-1W (75-3-4), Vandenberg AFB, California, USA',
       'SLC-1E (75-3-5), Vandenberg AFB, California, USA',
       'LC-14, Cape Canaveral AFS, Florida, USA',
       'SLC-17B, Cape Canaveral AFS, Florida, USA',
       'LC-12, Cape Canaveral AFS, Florida, USA',
       'SLC-3W, Vandenberg AFB, California, USA',
       'LA-3, Wallops Flight Facility, Virginia, USA',
       'SLC-2E (75-1-1), Vandenberg AFB, California, USA',
       'SLC-3E, Vandenberg AFB, California, USA',
       'Mayak-2, Kapustin Yar, Russia',
       'LC-18B, Cape Canaveral AFS, Florida, USA',
       'SLC-36A, Cape Canaveral AFS, Florida, USA',
       'SLC-5, Vandenberg AFB, California, USA',
       'SLC-2W, Vandenberg AFB, California, USA',
       'SLC-4W, Vandenberg AFB, California, USA',
       'LC-13, Cape Canaveral AFS, Florida, USA',
       'LC-34, Cape Canaveral AFS, Florida, USA',
       'Site 31/6, Baikonur Cosmodrome, Kazakhstan',
       'LC-19, Cape Canaveral AFS, Florida, USA',
       'SLC-37B, Cape Canaveral AFS, Florida, USA',
       'SLC-4E, Vandenberg AFB, California, USA',
       'Site 41/15, Baikonur Cosmodrome, Kazakhstan',
       'SLC-20, Cape Canaveral AFS, Florida, USA',
       'Site 86/1, Kapustin Yar, Russia',
       'LC-576B3, Vandenberg AFB, California, USA',
       'SLC-40, Cape Canaveral AFS, Florida, USA',
       'Site 81/24, Baikonur Cosmodrome, Kazakhstan',
       'SLC-36B, Cape Canaveral AFS, Florida, USA',
       'Brigitte, Hammaguir, Algeria, France',
       'SLC-41, Cape Canaveral AFS, Florida, USA',
       'Site 41/1, Plesetsk Cosmodrome, Russia',
       'Site 162, Baikonur Cosmodrome, Kazakhstan',
       'Uchinoura Space Center, Japan',
       'Site 81/23, Baikonur Cosmodrome, Kazakhstan',
       'Site 133/3, Plesetsk Cosmodrome, Russia',
       'Site 161/35, Baikonur Cosmodrome, Kazakhstan',
       'SM Launch Tab, San Marco Launch Platform, Kenya',
       'Site 132/2, Plesetsk Cosmodrome, Russia',
       'Site 90/19, Baikonur Cosmodrome, Kazakhstan',
       'LC-39A, Kennedy Space Center, Florida, USA',
       'LA-5B, RAAF Woomera Range Complex, Australia',
       'LC-576A2, Vandenberg AFB, California, USA',
       'Site 90/20, Baikonur Cosmodrome, Kazakhstan',
       'Site 110/38, Baikonur Cosmodrome, Kazakhstan',
       'LC-39B, Kennedy Space Center, Florida, USA',
       'Site 191/66, Baikonur Cosmodrome, Kazakhstan',
       'Site 132/1, Plesetsk Cosmodrome, Russia',
       'Site 5020 (LA-2A), Jiuquan Satellite Launch Center, China',
       'Site 43/4, Plesetsk Cosmodrome, Russia',
       'ELD, Guiana Space Centre, French Guiana, France',
       'Mu Pad, Uchinoura Space Center, Japan',
       'Site 43/3, Plesetsk Cosmodrome, Russia',
       'Santa Rita 2, San Marco Launch Platform, Kenya',
       'Site 110/37, Baikonur Cosmodrome, Kazakhstan',
       'ELA-1, Guiana Space Centre, French Guiana, France',
       'Site 138 (LA-2B), Jiuquan Satellite Launch Center, China',
       'LC-576A1, Vandenberg AFB, California, USA',
       'Site 107/1, Kapustin Yar, Russia',
       'LA-Y1, Tanegashima Space Center, Japan',
       'Site 32/2, Plesetsk Cosmodrome, Russia',
       'SLV LP, Satish Dhawan Space Centre, India',
       'ELV-1 (SLV), Guiana Space Centre, French Guiana, France',
       'Site 32/1, Plesetsk Cosmodrome, Russia',
       'Site 16/2, Plesetsk Cosmodrome, Russia',
       'LC-3, Xichang Satellite Launch Center, China',
       'Site 45/1, Baikonur Cosmodrome, Kazakhstan',
       'ELA-2, Guiana Space Centre, French Guiana, France',
       'Site 250, Baikonur Cosmodrome, Kazakhstan',
       'Taiyuan Satellite Launch Center, China',
       'Pad 1, Palmachim Airbase, Israel',
       'SLC-N, Tanegashima Space Center, Japan',
       'NB-52B Carrier, Edwards AFB, California, USA',
       'Site 45/2, Baikonur Cosmodrome, Kazakhstan',
       'LC-2, Xichang Satellite Launch Center, China',
       'Site 131/29, Baikonur Cosmodrome, Kazakhstan',
       'Site 175/58, Baikonur Cosmodrome, Kazakhstan',
       'NB-52B Carrier, Cape Canaveral AFS, Florida, USA',
       'Site 158, Plesetsk Cosmodrome, Russia',
       'First Launch Pad, Satish Dhawan Space Centre, India',
       'SLC-576E, Vandenberg AFB, California, USA',
       'Stargazer, Vandenberg AFB, California, USA',
       'SLC-6, Vandenberg AFB, California, USA',
       'LP-0A, Wallops Flight Facility, Virginia, USA',
       'ELA-3, Guiana Space Centre, French Guiana, France',
       'Svobodny Cosmodrome, Russia',
       'Stargazer, Base Aerea de Gando, Gran Canaria',
       'LC-7, Taiyuan Satellite Launch Center, China',
       'Stargazer, Wallops Flight Facility, Virginia, USA',
       'VLS Pad, AlcÃ¢ntara Launch Center, MaranhÃ£o, Brazil',
       'SLC-46, Cape Canaveral AFS, Florida, USA',
       'K-407 Submarine, Barents Sea Launch Area, Barents Sea',
       'Pad 1, Tonghae Satellite Launching Ground, North Korea',
       'Stargazer, Cape Canaveral AFS, Florida, USA',
       'LP Odyssey, Kiritimati Launch Area, Pacific Ocean',
       'Site 109/95, Baikonur Cosmodrome, Kazakhstan',
       'Site 901 (SLS-1), Jiuquan Satellite Launch Center, China',
       'SLC-8, Vandenberg AFB, California, USA',
       'Stargazer, Ronald Reagan Ballistic Missile Defense Test Site, Marshall Islands, USA',
       'LP-1, Pacific Spaceport Complex, Alaska, USA',
       'Site 9401 (SLS-2), Jiuquan Satellite Launch Center, China',
       'Site 175/59, Baikonur Cosmodrome, Kazakhstan',
       'Second Launch Pad, Satish Dhawan Space Centre, India',
       'K-496 Submarine, Barents Sea Launch Area, Barents Sea',
       'Omelek Island, Ronald Reagan Ballistic Missile Defense Test Site, Marshall Islands, USA',
       'K-84 Submarine, Barents Sea Launch Area, Barents Sea',
       'Site 370/13, Yasny Cosmodrome, Russia',
       'LP-0B, Wallops Flight Facility, Virginia, USA',
       'Imam Khomeini Spaceport, Semnan Space Center, Iran',
       'LC-9, Taiyuan Satellite Launch Center, China',
       'LC-1, Naro Space Center, South Korea',
       'LA-Y2, Tanegashima Space Center, Japan',
       'ELS, Guiana Space Centre, French Guiana, France',
       'Pad 1, Sohae Satellite Launching Station, North Korea',
       'Jiuquan Satellite Launch Center, China',
       'Site 35/1, Plesetsk Cosmodrome, Russia',
       'Site 95, Jiuquan Satellite Launch Center, China',
       'Blue Origin Launch Site, West Texas, Texas, USA',
       'LC-16, Taiyuan Satellite Launch Center, China',
       'LP-41, Kauai, Pacific Missile Range Facility',
       'Site 200/39, Baikonur Cosmodrome, Kazakhstan',
       'Site 1S, Vostochny Cosmodrome, Russia',
       'LC-201, Wenchang Satellite Launch Center, China',
       'LC-101, Wenchang Satellite Launch Center, China',
       'Rocket Lab LC-1A, M?hia Peninsula, New Zealand',
       'Vertical Launch Area, Spaceport America, New Mexico',
       'Tai Rui Barge, Yellow Sea',
       'Launch Plateform, Shahrud Missile Test Site',
       'Cosmic Girl, Mojave Air and Space Port, California, USA',
       'Xichang Satellite Launch Center, China',
       'Pad A, Boca Chica, Texas, USA',
       'SLC-40, Cape Canaveral SFS, Florida, USA',
       'Rocket Lab LC-1A, MÃ„\x81hia Peninsula, New Zealand',
       'ELV-1, Guiana Space Centre, French Guiana, France',
       'LP-3B, Pacific Spaceport Complex, Kodiak, Alaska, USA',
       'DeBo 3 Barge, Yellow Sea',
       'Launch Site One, West Texas, Texas, USA',
       'SLC-41, Cape Canaveral SFS, Florida, USA',
       'SLC-4E, Vandenberg SFB, California, USA',
       'Suborbital Pad A, Starbase, Texas, USA',
       'SLC-37B, Cape Canaveral SFS, Florida, USA',
       'VMS Eve, Spaceport America, New Mexico, USA',
       'Launch Platform, Shahrud Missile Test Site, Iran',
       'Suborbital Pad B, Starbase, Texas, USA',
       'SLC-6, Vandenberg SFB, California, USA',
       'Stargazer, Vandenberg SFB, California, USA',
       'SLC-2W, Vandenberg SFB, California, USA',
       'SLC-3E, Vandenberg SFB, California, USA',
       'LC-2, Naro Space Center, South Korea',
       'SLC-46, Cape Canaveral SFS, Florida, USA',
       'Rocket Lab LC-1B, MÃ„\x81hia Peninsula, New Zealand',
       'LC-9A, Taiyuan Satellite Launch Center, China'], dtype=object)

In [7]:
#Append Countries to locations that do not have them

#Replace 'Barents Sea' with 'Russia' in the 'Location' column
spaceMissions_df['Location'] = spaceMissions_df['Location'].str.replace('Barents Sea', 'Russia', case=False)

# Locate and update rows with 'Kauai'
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Kauai'), 'Location'] += ', USA'

#Replace 'Pacific Missile Range Facility' with 'Hawaii' in the 'Location' column
spaceMissions_df['Location'] = spaceMissions_df['Location'].str.replace('Pacific Missile Range Facility', 'Hawaii', case=False)

# Locate and update rows with incomplete New Mexico
#spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Vertical Launch Area'), 'Location'] += ', USA'

# Replace 'Kodiak' with 'Alaska' in the 'Location' column
spaceMissions_df['Location'] = spaceMissions_df['Location'].str.replace('Kodiak', 'Alaska', case=False)

#Replace 'French Guiana' with 'France' in the 'Location' column
spaceMissions_df['Location'] = spaceMissions_df['Location'].str.replace('French Guiana', 'France', case=False)

#Replace 'MaranhÃ£o' with 'Brazil' in the 'Location' column
spaceMissions_df['Location'] = spaceMissions_df['Location'].str.replace('MaranhÃ£o', 'Brazil', case=False)

# Locate and update rows with 'Yellow Sea'
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Yellow Sea'), 'Location'] += ', China'

# Locate and update rows with 'Yellow Sea'
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Uchinoura Space Center'), 'Location'] += ', Japan'

#Add space to get Russia to Svobodny Cosmodrome:
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Svobodny Cosmodrome, Russia'), 'Location'] = 'Svobodny Cosmodrome, , Russia'
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Taiyuan Satellite Launch Center, China'), 'Location'] = 'Taiyuan Satellite Launch Center, , China'
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Jiuquan Satellite Launch Center, China'), 'Location'] = 'Jiuquan Satellite Launch Center, , China'
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Xichang Satellite Launch Center, China'), 'Location'] = 'Xichang Satellite Launch Center, , China'
# Locate and update rows with 'Shahrud Missile Test Site' and does not contain "Iran" as country
spaceMissions_df.loc[spaceMissions_df['Location'].str.contains('Shahrud Missile Test Site') & ~spaceMissions_df['Location'].str.contains('Iran'), 'Location'] += ', Iran'

# Replace 'Algeria' with 'France' in the 'Location' column
spaceMissions_df['Location'] = spaceMissions_df['Location'].str.replace('Algeria', 'France', case=False)

spaceMissions_df.loc[
    spaceMissions_df['Location'].str.contains('Vertical Launch Area') & 
    ~spaceMissions_df['Location'].str.contains('USA'), 
    'Location'
] += ', USA'

In [8]:
#List of locations after appending missing Countries
appended_locations = spaceMissions_df['Location'].unique()
appended_locations

array(['Site 1/5, Baikonur Cosmodrome, Kazakhstan',
       'LC-18A, Cape Canaveral AFS, Florida, USA',
       'LC-26A, Cape Canaveral AFS, Florida, USA',
       'LC-5, Cape Canaveral AFS, Florida, USA',
       'Douglas F4D Skyray, Naval Air Station Point Mugu, California, USA',
       'SLC-17A, Cape Canaveral AFS, Florida, USA',
       'LC-11, Cape Canaveral AFS, Florida, USA',
       'SLC-1W (75-3-4), Vandenberg AFB, California, USA',
       'SLC-1E (75-3-5), Vandenberg AFB, California, USA',
       'LC-14, Cape Canaveral AFS, Florida, USA',
       'SLC-17B, Cape Canaveral AFS, Florida, USA',
       'LC-12, Cape Canaveral AFS, Florida, USA',
       'SLC-3W, Vandenberg AFB, California, USA',
       'LA-3, Wallops Flight Facility, Virginia, USA',
       'SLC-2E (75-1-1), Vandenberg AFB, California, USA',
       'SLC-3E, Vandenberg AFB, California, USA',
       'Mayak-2, Kapustin Yar, Russia',
       'LC-18B, Cape Canaveral AFS, Florida, USA',
       'SLC-36A, Cape Canaveral AFS, Florida, USA',
       'SLC-5, Vandenberg AFB, California, USA',
       'SLC-2W, Vandenberg AFB, California, USA',
       'SLC-4W, Vandenberg AFB, California, USA',
       'LC-13, Cape Canaveral AFS, Florida, USA',
       'LC-34, Cape Canaveral AFS, Florida, USA',
       'Site 31/6, Baikonur Cosmodrome, Kazakhstan',
       'LC-19, Cape Canaveral AFS, Florida, USA',
       'SLC-37B, Cape Canaveral AFS, Florida, USA',
       'SLC-4E, Vandenberg AFB, California, USA',
       'Site 41/15, Baikonur Cosmodrome, Kazakhstan',
       'SLC-20, Cape Canaveral AFS, Florida, USA',
       'Site 86/1, Kapustin Yar, Russia',
       'LC-576B3, Vandenberg AFB, California, USA',
       'SLC-40, Cape Canaveral AFS, Florida, USA',
       'Site 81/24, Baikonur Cosmodrome, Kazakhstan',
       'SLC-36B, Cape Canaveral AFS, Florida, USA',
       'Brigitte, Hammaguir, France, France',
       'SLC-41, Cape Canaveral AFS, Florida, USA',
       'Site 41/1, Plesetsk Cosmodrome, Russia',
       'Site 162, Baikonur Cosmodrome, Kazakhstan',
       'Uchinoura Space Center, Japan, Japan',
       'Site 81/23, Baikonur Cosmodrome, Kazakhstan',
       'Site 133/3, Plesetsk Cosmodrome, Russia',
       'Site 161/35, Baikonur Cosmodrome, Kazakhstan',
       'SM Launch Tab, San Marco Launch Platform, Kenya',
       'Site 132/2, Plesetsk Cosmodrome, Russia',
       'Site 90/19, Baikonur Cosmodrome, Kazakhstan',
       'LC-39A, Kennedy Space Center, Florida, USA',
       'LA-5B, RAAF Woomera Range Complex, Australia',
       'LC-576A2, Vandenberg AFB, California, USA',
       'Site 90/20, Baikonur Cosmodrome, Kazakhstan',
       'Site 110/38, Baikonur Cosmodrome, Kazakhstan',
       'LC-39B, Kennedy Space Center, Florida, USA',
       'Site 191/66, Baikonur Cosmodrome, Kazakhstan',
       'Site 132/1, Plesetsk Cosmodrome, Russia',
       'Jiuquan Satellite Launch Center, , China',
       'Site 43/4, Plesetsk Cosmodrome, Russia',
       'ELD, Guiana Space Centre, France, France',
       'Mu Pad, Uchinoura Space Center, Japan, Japan',
       'Site 43/3, Plesetsk Cosmodrome, Russia',
       'Santa Rita 2, San Marco Launch Platform, Kenya',
       'Site 110/37, Baikonur Cosmodrome, Kazakhstan',
       'ELA-1, Guiana Space Centre, France, France',
       'LC-576A1, Vandenberg AFB, California, USA',
       'Site 107/1, Kapustin Yar, Russia',
       'LA-Y1, Tanegashima Space Center, Japan',
       'Site 32/2, Plesetsk Cosmodrome, Russia',
       'SLV LP, Satish Dhawan Space Centre, India',
       'ELV-1 (SLV), Guiana Space Centre, France, France',
       'Site 32/1, Plesetsk Cosmodrome, Russia',
       'Site 16/2, Plesetsk Cosmodrome, Russia',
       'Xichang Satellite Launch Center, , China',
       'Site 45/1, Baikonur Cosmodrome, Kazakhstan',
       'ELA-2, Guiana Space Centre, France, France',
       'Site 250, Baikonur Cosmodrome, Kazakhstan',
       'Taiyuan Satellite Launch Center, , China',
       'Pad 1, Palmachim Airbase, Israel',
       'SLC-N, Tanegashima Space Center, Japan',
       'NB-52B Carrier, Edwards AFB, California, USA',
       'Site 45/2, Baikonur Cosmodrome, Kazakhstan',
       'Site 131/29, Baikonur Cosmodrome, Kazakhstan',
       'Site 175/58, Baikonur Cosmodrome, Kazakhstan',
       'NB-52B Carrier, Cape Canaveral AFS, Florida, USA',
       'Site 158, Plesetsk Cosmodrome, Russia',
       'First Launch Pad, Satish Dhawan Space Centre, India',
       'SLC-576E, Vandenberg AFB, California, USA',
       'Stargazer, Vandenberg AFB, California, USA',
       'SLC-6, Vandenberg AFB, California, USA',
       'LP-0A, Wallops Flight Facility, Virginia, USA',
       'ELA-3, Guiana Space Centre, France, France',
       'Svobodny Cosmodrome, , Russia',
       'Stargazer, Base Aerea de Gando, Gran Canaria',
       'Stargazer, Wallops Flight Facility, Virginia, USA',
       'VLS Pad, AlcÃ¢ntara Launch Center, Brazil, Brazil',
       'SLC-46, Cape Canaveral AFS, Florida, USA',
       'K-407 Submarine, Russia Launch Area, Russia',
       'Pad 1, Tonghae Satellite Launching Ground, North Korea',
       'Stargazer, Cape Canaveral AFS, Florida, USA',
       'LP Odyssey, Kiritimati Launch Area, Pacific Ocean',
       'Site 109/95, Baikonur Cosmodrome, Kazakhstan',
       'SLC-8, Vandenberg AFB, California, USA',
       'Stargazer, Ronald Reagan Ballistic Missile Defense Test Site, Marshall Islands, USA',
       'LP-1, Pacific Spaceport Complex, Alaska, USA',
       'Site 175/59, Baikonur Cosmodrome, Kazakhstan',
       'Second Launch Pad, Satish Dhawan Space Centre, India',
       'K-496 Submarine, Russia Launch Area, Russia',
       'Omelek Island, Ronald Reagan Ballistic Missile Defense Test Site, Marshall Islands, USA',
       'K-84 Submarine, Russia Launch Area, Russia',
       'Site 370/13, Yasny Cosmodrome, Russia',
       'LP-0B, Wallops Flight Facility, Virginia, USA',
       'Imam Khomeini Spaceport, Semnan Space Center, Iran',
       'LC-1, Naro Space Center, South Korea',
       'LA-Y2, Tanegashima Space Center, Japan',
       'ELS, Guiana Space Centre, France, France',
       'Pad 1, Sohae Satellite Launching Station, North Korea',
       'Site 35/1, Plesetsk Cosmodrome, Russia',
       'Blue Origin Launch Site, West Texas, Texas, USA',
       'LP-41, Kauai, Hawaii, USA',
       'Site 200/39, Baikonur Cosmodrome, Kazakhstan',
       'Site 1S, Vostochny Cosmodrome, Russia',
       'LC-201, Wenchang Satellite Launch Center, China',
       'LC-101, Wenchang Satellite Launch Center, China',
       'Rocket Lab LC-1A, M?hia Peninsula, New Zealand',
       'Vertical Launch Area, Spaceport America, New Mexico, USA',
       'Tai Rui Barge, Yellow Sea, China',
       'Launch Plateform, Shahrud Missile Test Site, Iran',
       'Cosmic Girl, Mojave Air and Space Port, California, USA',
       'Pad A, Boca Chica, Texas, USA',
       'SLC-40, Cape Canaveral SFS, Florida, USA',
       'Rocket Lab LC-1A, MÃ„\x81hia Peninsula, New Zealand',
       'ELV-1, Guiana Space Centre, France, France',
       'LP-3B, Pacific Spaceport Complex, Alaska, Alaska, USA',
       'DeBo 3 Barge, Yellow Sea, China',
       'Launch Site One, West Texas, Texas, USA',
       'SLC-41, Cape Canaveral SFS, Florida, USA',
       'SLC-4E, Vandenberg SFB, California, USA',
       'Suborbital Pad A, Starbase, Texas, USA',
       'SLC-37B, Cape Canaveral SFS, Florida, USA',
       'VMS Eve, Spaceport America, New Mexico, USA',
       'Launch Platform, Shahrud Missile Test Site, Iran',
       'Suborbital Pad B, Starbase, Texas, USA',
       'SLC-6, Vandenberg SFB, California, USA',
       'Stargazer, Vandenberg SFB, California, USA',
       'SLC-2W, Vandenberg SFB, California, USA',
       'SLC-3E, Vandenberg SFB, California, USA',
       'LC-2, Naro Space Center, South Korea',
       'SLC-46, Cape Canaveral SFS, Florida, USA',
       'Rocket Lab LC-1B, MÃ„\x81hia Peninsula, New Zealand'], dtype=object)

###
# Data Frame with US Space Missions
###

### US Space Missions DataFrame with Location intact

In [9]:
#Separate launches into two DataFrames
#This will be the US Space Missions and later on we will do the rest of the world's Space Missions
us_launches = spaceMissions_df[spaceMissions_df['Location'].str.contains('USA')]

#Display the US DataFrame
us_launches

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
2,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure
3,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01,03:48:00,Juno I,Explorer 1,Retired,NaN,Success
4,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05,07:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure
5,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-03-05,18:27:00,Juno I,Explorer 2,Retired,NaN,Failure
6,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-03-17,12:15:00,Vanguard,Vanguard 1,Retired,NaN,Success
...,...,...,...,...,...,...,...,...,...
4619,Astra,"SLC-46, Cape Canaveral SFS, Florida, USA",2022-07-12,17:43:00,Rocket 3,TROPICS Flight 1,Active,2.5,Failure
4622,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2022-07-15,00:44:00,Falcon 9 Block 5,CRS SpX-25,Active,67,Success
4624,SpaceX,"SLC-40, Cape Canaveral SFS, Florida, USA",2022-07-17,14:20:00,Falcon 9 Block 5,Starlink Group 4-22,Active,67,Success
4625,SpaceX,"SLC-4E, Vandenberg SFB, California, USA",2022-07-22,17:39:00,Falcon 9 Block 5,Starlink Group 3-2,Active,67,Success
4627,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",2022-07-24,13:38:00,Falcon 9 Block 5,Starlink Group 4-25,Active,67,Success

### Cleaned US Space Missions - Split Location Column

In [10]:
#Split the "Location" column into separate parts
location_parts = us_launches['Location'].str.split(', ', expand=True)

#Rename the new columns dynamically based on the number of columns
new_columns = ['Complex ID', 'Launch Site', 'Territory', 'Country', 'Column_5']
location_parts.columns = new_columns

#Concatenate the new columns with the original DataFrame
cleaned_US_df = pd.concat([us_launches, location_parts], axis=1)

#Drop the original "Location" column and the unnecessary column
cleaned_US_df = cleaned_US_df.drop(['Location', 'Column_5'], axis=1, errors='ignore')

#Display the updated DataFrame
cleaned_US_df

,Company,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus,Complex ID,Launch Site,Territory,Country
2,US Navy,1957-12-06,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure,LC-18A,Cape Canaveral AFS,Florida,USA
3,AMBA,1958-02-01,03:48:00,Juno I,Explorer 1,Retired,NaN,Success,LC-26A,Cape Canaveral AFS,Florida,USA
4,US Navy,1958-02-05,07:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure,LC-18A,Cape Canaveral AFS,Florida,USA
5,AMBA,1958-03-05,18:27:00,Juno I,Explorer 2,Retired,NaN,Failure,LC-26A,Cape Canaveral AFS,Florida,USA
6,US Navy,1958-03-17,12:15:00,Vanguard,Vanguard 1,Retired,NaN,Success,LC-18A,Cape Canaveral AFS,Florida,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
4619,Astra,2022-07-12,17:43:00,Rocket 3,TROPICS Flight 1,Active,2.5,Failure,SLC-46,Cape Canaveral SFS,Florida,USA
4622,SpaceX,2022-07-15,00:44:00,Falcon 9 Block 5,CRS SpX-25,Active,67,Success,LC-39A,Kennedy Space Center,Florida,USA
4624,SpaceX,2022-07-17,14:20:00,Falcon 9 Block 5,Starlink Group 4-22,Active,67,Success,SLC-40,Cape Canaveral SFS,Florida,USA
4625,SpaceX,2022-07-22,17:39:00,Falcon 9 Block 5,Starlink Group 3-2,Active,67,Success,SLC-4E,Vandenberg SFB,California,USA
4627,SpaceX,2022-07-24,13:38:00,Falcon 9 Block 5,Starlink Group 4-25,Active,67,Success,LC-39A,Kennedy Space Center,Florida,USA

In [11]:
#Count of column data
cleaned_US_df.count()

Company          1472
Date             1472
Time             1448
Rocket           1472
Mission          1472
RocketStatus     1472
Price             592
MissionStatus    1472
Complex ID       1472
Launch Site      1472
Territory        1472
Country          1472
dtype: int64

In [12]:
#What territory had a Space Mission Launch
unique_territory = cleaned_US_df['Territory'].unique()
territory_counts = cleaned_US_df['Territory'].nunique()

#print the info
print(f"The USA had space missions in a total of {territory_counts} states and/or territories: {unique_territory}")

The USA had space missions in a total of 8 states and/or territories: ['Florida' 'California' 'Virginia' 'Marshall Islands' 'Alaska' 'Texas'
 'Hawaii' 'New Mexico']

In [13]:
#Group by state and count. Set 'State' as index
missions_per_territory = cleaned_US_df.groupby('Territory').size().reset_index(name='Mission Count').set_index('Territory')

#Display DataFrame to show the missions per Country
missions_per_territory

                  Mission Count
Territory
Alaska                        8
California                  473
Florida                     911
Hawaii                        1
Marshall Islands              9
New Mexico                    7
Texas                        27
Virginia                     36

In [14]:
#Filter missions based on success and failure for the US space missions
successful_missions = cleaned_US_df[cleaned_US_df['MissionStatus'] == 'Success']
failed_missions = cleaned_US_df[cleaned_US_df['MissionStatus'] == 'Failure']

#Display the results
successful_missions

,Company,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus,Complex ID,Launch Site,Territory,Country
3,AMBA,1958-02-01,03:48:00,Juno I,Explorer 1,Retired,NaN,Success,LC-26A,Cape Canaveral AFS,Florida,USA
6,US Navy,1958-03-17,12:15:00,Vanguard,Vanguard 1,Retired,NaN,Success,LC-18A,Cape Canaveral AFS,Florida,USA
7,AMBA,1958-03-26,17:38:00,Juno I,Explorer 3,Retired,NaN,Success,LC-5,Cape Canaveral AFS,Florida,USA
14,AMBA,1958-07-26,15:00:00,Juno I,Explorer 4,Retired,NaN,Success,LC-5,Cape Canaveral AFS,Florida,USA
30,US Air Force,1958-12-18,23:02:00,SM-65B Atlas,SCORE,Retired,NaN,Success,LC-11,Cape Canaveral AFS,Florida,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
4617,SpaceX,2022-07-11,01:39:00,Falcon 9 Block 5,Starlink Group 3-1,Active,67,Success,SLC-4E,Vandenberg SFB,California,USA
4622,SpaceX,2022-07-15,00:44:00,Falcon 9 Block 5,CRS SpX-25,Active,67,Success,LC-39A,Kennedy Space Center,Florida,USA
4624,SpaceX,2022-07-17,14:20:00,Falcon 9 Block 5,Starlink Group 4-22,Active,67,Success,SLC-40,Cape Canaveral SFS,Florida,USA
4625,SpaceX,2022-07-22,17:39:00,Falcon 9 Block 5,Starlink Group 3-2,Active,67,Success,SLC-4E,Vandenberg SFB,California,USA
4627,SpaceX,2022-07-24,13:38:00,Falcon 9 Block 5,Starlink Group 4-25,Active,67,Success,LC-39A,Kennedy Space Center,Florida,USA

In [15]:
print(f"The total of successful Space Missions in the US were: {successful_missions.shape[0]}")

The total of successful Space Missions in the US were: 1298

### Failed Space Missions in the US

In [16]:
#Print Failed Missions DataFrame
failed_missions

,Company,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus,Complex ID,Launch Site,Territory,Country
2,US Navy,1957-12-06,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure,LC-18A,Cape Canaveral AFS,Florida,USA
4,US Navy,1958-02-05,07:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure,LC-18A,Cape Canaveral AFS,Florida,USA
5,AMBA,1958-03-05,18:27:00,Juno I,Explorer 2,Retired,NaN,Failure,LC-26A,Cape Canaveral AFS,Florida,USA
9,US Navy,1958-04-28,02:53:00,Vanguard,Vanguard TV5,Retired,NaN,Failure,LC-18A,Cape Canaveral AFS,Florida,USA
11,US Navy,1958-05-28,03:46:00,Vanguard,Vanguard SLV-1,Retired,NaN,Failure,LC-18A,Cape Canaveral AFS,Florida,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
4410,SpaceX,2021-03-30,13:00:00,Starship Prototype,10-Kilometer Test Flight,Active,NaN,Failure,Suborbital Pad B,Starbase,Texas,USA
4472,Astra,2021-08-28,22:35:00,Rocket 3,STP-27AD1,Active,2.5,Failure,LP-3B,Pacific Spaceport Complex,Alaska,Alaska
4474,Firefly,2021-09-03,01:59:00,Firefly Alpha,DREAM (Demo Flight),Active,NaN,Failure,SLC-2W,Vandenberg SFB,California,USA
4549,Astra,2022-02-10,20:00:00,Rocket 3,VCLS Demo-2A,Active,2.5,Failure,SLC-46,Cape Canaveral SFS,Florida,USA
4619,Astra,2022-07-12,17:43:00,Rocket 3,TROPICS Flight 1,Active,2.5,Failure,SLC-46,Cape Canaveral SFS,Florida,USA

In [17]:
print(f"The total of failed Space Missions in the US were: {failed_missions.shape[0]}")

The total of failed Space Missions in the US were: 136

In [18]:
# Group by state and count missions per state and MissionStatus
missions_per_territory = cleaned_US_df.pivot_table(index='Territory', columns='MissionStatus',aggfunc='size', fill_value=0)

#Print Data Frame
missions_per_territory

MissionStatus     Failure  Partial Failure  Prelaunch Failure  Success
Territory
Alaska                  3                0                  0        5
California             57                9                  0      407
Florida                65               20                  1      825
Hawaii                  1                0                  0        0
Marshall Islands        3                0                  0        6
New Mexico              1                4                  0        2
Texas                   1                3                  0       23
Virginia                5                1                  0       30

###
# DataFrame with Space Missions from the Rest of the World
###

In [19]:
#Show Space Missions of the world excluding the US
rest_of_world_launches = spaceMissions_df[~(spaceMissions_df['Location'].str.contains('USA') )]
rest_of_world_launches

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
0,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success
1,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03,02:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success
8,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1958-04-27,09:01:00,Sputnik 8A91,Sputnik-3 #1,Retired,NaN,Failure
10,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1958-05-15,07:12:00,Sputnik 8A91,Sputnik-3 #2,Retired,NaN,Success
22,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1958-09-23,07:40:00,Vostok,E-1 nÃ¢Â€Â Ã‚Â­1 (Luna-1),Retired,NaN,Failure
...,...,...,...,...,...,...,...,...,...
4621,ESA,"ELV-1, Guiana Space Centre, France, France",2022-07-13,13:13:00,Vega C,LARES 2 & Cubesats,Active,NaN,Success
4623,CASC,"Taiyuan Satellite Launch Center, , China",2022-07-15,22:57:00,Long March 2C,SuperView Neo 2-01 & 02,Active,30.8,Success
4626,CASC,"LC-101, Wenchang Satellite Launch Center, China",2022-07-24,06:22:00,Long March 5B,Wentian,Active,NaN,Success
4628,CAS Space,"Jiuquan Satellite Launch Center, , China",2022-07-27,04:12:00,Zhongke-1A,Demo Flight,Active,NaN,Success
4629,CASC,"Xichang Satellite Launch Center, , China",2022-07-29,13:28:00,Long March 2D,Yaogan 35 Group 03,Active,29.75,Success

In [20]:
world_uniquelocations = rest_of_world_launches['Location'].unique()
world_uniquelocations

array(['Site 1/5, Baikonur Cosmodrome, Kazakhstan',
       'Mayak-2, Kapustin Yar, Russia',
       'Site 31/6, Baikonur Cosmodrome, Kazakhstan',
       'Site 41/15, Baikonur Cosmodrome, Kazakhstan',
       'Site 86/1, Kapustin Yar, Russia',
       'Site 81/24, Baikonur Cosmodrome, Kazakhstan',
       'Brigitte, Hammaguir, France, France',
       'Site 41/1, Plesetsk Cosmodrome, Russia',
       'Site 162, Baikonur Cosmodrome, Kazakhstan',
       'Uchinoura Space Center, Japan, Japan',
       'Site 81/23, Baikonur Cosmodrome, Kazakhstan',
       'Site 133/3, Plesetsk Cosmodrome, Russia',
       'Site 161/35, Baikonur Cosmodrome, Kazakhstan',
       'SM Launch Tab, San Marco Launch Platform, Kenya',
       'Site 132/2, Plesetsk Cosmodrome, Russia',
       'Site 90/19, Baikonur Cosmodrome, Kazakhstan',
       'LA-5B, RAAF Woomera Range Complex, Australia',
       'Site 90/20, Baikonur Cosmodrome, Kazakhstan',
       'Site 110/38, Baikonur Cosmodrome, Kazakhstan',
       'Site 191/66, Baikonur Cosmodrome, Kazakhstan',
       'Site 132/1, Plesetsk Cosmodrome, Russia',
       'Jiuquan Satellite Launch Center, , China',
       'Site 43/4, Plesetsk Cosmodrome, Russia',
       'ELD, Guiana Space Centre, France, France',
       'Mu Pad, Uchinoura Space Center, Japan, Japan',
       'Site 43/3, Plesetsk Cosmodrome, Russia',
       'Santa Rita 2, San Marco Launch Platform, Kenya',
       'Site 110/37, Baikonur Cosmodrome, Kazakhstan',
       'ELA-1, Guiana Space Centre, France, France',
       'Site 107/1, Kapustin Yar, Russia',
       'LA-Y1, Tanegashima Space Center, Japan',
       'Site 32/2, Plesetsk Cosmodrome, Russia',
       'SLV LP, Satish Dhawan Space Centre, India',
       'ELV-1 (SLV), Guiana Space Centre, France, France',
       'Site 32/1, Plesetsk Cosmodrome, Russia',
       'Site 16/2, Plesetsk Cosmodrome, Russia',
       'Xichang Satellite Launch Center, , China',
       'Site 45/1, Baikonur Cosmodrome, Kazakhstan',
       'ELA-2, Guiana Space Centre, France, France',
       'Site 250, Baikonur Cosmodrome, Kazakhstan',
       'Taiyuan Satellite Launch Center, , China',
       'Pad 1, Palmachim Airbase, Israel',
       'SLC-N, Tanegashima Space Center, Japan',
       'Site 45/2, Baikonur Cosmodrome, Kazakhstan',
       'Site 131/29, Baikonur Cosmodrome, Kazakhstan',
       'Site 175/58, Baikonur Cosmodrome, Kazakhstan',
       'Site 158, Plesetsk Cosmodrome, Russia',
       'First Launch Pad, Satish Dhawan Space Centre, India',
       'ELA-3, Guiana Space Centre, France, France',
       'Svobodny Cosmodrome, , Russia',
       'Stargazer, Base Aerea de Gando, Gran Canaria',
       'VLS Pad, AlcÃ¢ntara Launch Center, Brazil, Brazil',
       'K-407 Submarine, Russia Launch Area, Russia',
       'Pad 1, Tonghae Satellite Launching Ground, North Korea',
       'LP Odyssey, Kiritimati Launch Area, Pacific Ocean',
       'Site 109/95, Baikonur Cosmodrome, Kazakhstan',
       'Site 175/59, Baikonur Cosmodrome, Kazakhstan',
       'Second Launch Pad, Satish Dhawan Space Centre, India',
       'K-496 Submarine, Russia Launch Area, Russia',
       'K-84 Submarine, Russia Launch Area, Russia',
       'Site 370/13, Yasny Cosmodrome, Russia',
       'Imam Khomeini Spaceport, Semnan Space Center, Iran',
       'LC-1, Naro Space Center, South Korea',
       'LA-Y2, Tanegashima Space Center, Japan',
       'ELS, Guiana Space Centre, France, France',
       'Pad 1, Sohae Satellite Launching Station, North Korea',
       'Site 35/1, Plesetsk Cosmodrome, Russia',
       'Site 200/39, Baikonur Cosmodrome, Kazakhstan',
       'Site 1S, Vostochny Cosmodrome, Russia',
       'LC-201, Wenchang Satellite Launch Center, China',
       'LC-101, Wenchang Satellite Launch Center, China',
       'Rocket Lab LC-1A, M?hia Peninsula, New Zealand',
       'Tai Rui Barge, Yellow Sea, China',
       'Launch Plateform, Shahrud Missile Test Site, Iran',
       'Rocket Lab LC-1A, MÃ„\x81hia Peninsula, New Zealand',
       'ELV-1, Guiana Space Centre, France, France',
       'DeBo 3 Barge, Yellow Sea, China',
       'Launch Platform, Shahrud Missile Test Site, Iran',
       'LC-2, Naro Space Center, South Korea',
       'Rocket Lab LC-1B, MÃ„\x81hia Peninsula, New Zealand'], dtype=object)

### Cleaned Rest of World Space Missions - Split Location Column

In [21]:
# Split the "Location" column into separate parts
new_worldcolumns = rest_of_world_launches['Location'].str.split(', ', expand=True)

# Rename the new columns dynamically based on the number of columns
new_world_columns = ['Complex ID', 'Launch Site', 'Country', 'Column_4']
new_worldcolumns.columns = new_world_columns

# Concatenate the new columns with the original DataFrame for the rest of the world
cleaned_world_df = pd.concat([rest_of_world_launches, new_worldcolumns], axis=1)

# Drop the original "Location" column and the unnecessary columns
cleaned_world_df = cleaned_world_df.drop(['Location', 'Column_4'], axis=1, errors='ignore')

# Display the updated DataFrame
cleaned_world_df

,Company,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus,Complex ID,Launch Site,Country
0,RVSN USSR,1957-10-04,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
1,RVSN USSR,1957-11-03,02:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
8,RVSN USSR,1958-04-27,09:01:00,Sputnik 8A91,Sputnik-3 #1,Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
10,RVSN USSR,1958-05-15,07:12:00,Sputnik 8A91,Sputnik-3 #2,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
22,RVSN USSR,1958-09-23,07:40:00,Vostok,E-1 nÃ¢Â€Â Ã‚Â­1 (Luna-1),Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
...,...,...,...,...,...,...,...,...,...,...,...
4621,ESA,2022-07-13,13:13:00,Vega C,LARES 2 & Cubesats,Active,NaN,Success,ELV-1,Guiana Space Centre,France
4623,CASC,2022-07-15,22:57:00,Long March 2C,SuperView Neo 2-01 & 02,Active,30.8,Success,Taiyuan Satellite Launch Center,,China
4626,CASC,2022-07-24,06:22:00,Long March 5B,Wentian,Active,NaN,Success,LC-101,Wenchang Satellite Launch Center,China
4628,CAS Space,2022-07-27,04:12:00,Zhongke-1A,Demo Flight,Active,NaN,Success,Jiuquan Satellite Launch Center,,China
4629,CASC,2022-07-29,13:28:00,Long March 2D,Yaogan 35 Group 03,Active,29.75,Success,Xichang Satellite Launch Center,,China

In [22]:
#Count of column data
cleaned_world_df.count()

Company          3158
Date             3158
Time             3055
Rocket           3158
Mission          3158
RocketStatus     3158
Price             673
MissionStatus    3158
Complex ID       3158
Launch Site      3158
Country          3158
dtype: int64

In [23]:
#What Countries had a Space Mission Launch
unique_countries = cleaned_world_df['Country'].unique()
country_counts = cleaned_world_df['Country'].nunique()

#print the info
print(f"A total of {country_counts} Countries had Space Missions in the rest of the world: {unique_countries}")

A total of 16 Countries had Space Missions in the rest of the world: ['Kazakhstan' 'Russia' 'France' 'Japan' 'Kenya' 'Australia' 'China'
 'India' 'Israel' 'Gran Canaria' 'Brazil' 'North Korea' 'Pacific Ocean'
 'Iran' 'South Korea' 'New Zealand']

In [24]:
# Group by country and count missions per country, set "Country" as index
missions_per_country = cleaned_world_df.groupby('Country').size().reset_index(name='Mission Count').set_index('Country')

# Display DataFrame to show the missions per Country
missions_per_country

               Mission Count
Country
Australia                  6
Brazil                     3
China                    368
France                   318
Gran Canaria               2
India                     82
Iran                      17
Israel                    11
Japan                    130
Kazakhstan               719
Kenya                      9
New Zealand               28
North Korea                5
Pacific Ocean             36
Russia                  1419
South Korea                5

In [25]:
#Filter missions based on success and failure for the 'Rest of the World' space missions
successful_w_missions = cleaned_world_df[cleaned_world_df['MissionStatus'] == 'Success']
failed_w_missions = cleaned_world_df[cleaned_world_df['MissionStatus'] == 'Failure']

#Display successful results
successful_w_missions

,Company,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus,Complex ID,Launch Site,Country
0,RVSN USSR,1957-10-04,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
1,RVSN USSR,1957-11-03,02:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
10,RVSN USSR,1958-05-15,07:12:00,Sputnik 8A91,Sputnik-3 #2,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
44,RVSN USSR,1959-09-12,06:39:00,Vostok,Luna-2,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
47,RVSN USSR,1959-10-04,00:43:00,Vostok,Luna-3,Retired,NaN,Success,Site 1/5,Baikonur Cosmodrome,Kazakhstan
...,...,...,...,...,...,...,...,...,...,...,...
4621,ESA,2022-07-13,13:13:00,Vega C,LARES 2 & Cubesats,Active,NaN,Success,ELV-1,Guiana Space Centre,France
4623,CASC,2022-07-15,22:57:00,Long March 2C,SuperView Neo 2-01 & 02,Active,30.8,Success,Taiyuan Satellite Launch Center,,China
4626,CASC,2022-07-24,06:22:00,Long March 5B,Wentian,Active,NaN,Success,LC-101,Wenchang Satellite Launch Center,China
4628,CAS Space,2022-07-27,04:12:00,Zhongke-1A,Demo Flight,Active,NaN,Success,Jiuquan Satellite Launch Center,,China
4629,CASC,2022-07-29,13:28:00,Long March 2D,Yaogan 35 Group 03,Active,29.75,Success,Xichang Satellite Launch Center,,China

In [26]:
#Display failed results
failed_w_missions

,Company,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus,Complex ID,Launch Site,Country
8,RVSN USSR,1958-04-27,09:01:00,Sputnik 8A91,Sputnik-3 #1,Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
22,RVSN USSR,1958-09-23,07:40:00,Vostok,E-1 nÃ¢Â€Â Ã‚Â­1 (Luna-1),Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
25,RVSN USSR,1958-10-11,21:41:00,Vostok,E-1 nÃ¢Â€Â Ã‚Â­2 (Luna-1),Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
28,RVSN USSR,1958-12-04,18:18:00,Vostok,E-1 nÃ¢Â€Â Ã‚Â­3 (Luna-1),Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
37,RVSN USSR,1959-06-18,08:08:00,Vostok,E-1A nÃ¢Â€Â Ã‚Â­1 (Luna-2),Retired,NaN,Failure,Site 1/5,Baikonur Cosmodrome,Kazakhstan
...,...,...,...,...,...,...,...,...,...,...,...
4491,KARI,2021-10-21,08:00:00,KSLV-2,Test Flight,Active,NaN,Failure,LC-2,Naro Space Center,South Korea
4524,ExPace,2021-12-15,02:00:00,Kuaizhou 1A,GeeSAT-1A & 1B,Active,5.8,Failure,Jiuquan Satellite Launch Center,,China
4533,VKS RF,2021-12-27,19:00:00,Angara A5/Persey,MGM nÃ‚Â°3,Active,100,Failure,Site 35/1,Plesetsk Cosmodrome,Russia
4536,ISA,2021-12-30,03:30:00,Simorgh,3 Unknown payloads,Active,NaN,Failure,Imam Khomeini Spaceport,Semnan Space Center,Iran
4589,i-Space,2022-05-13,07:09:00,Hyperbola-1,Jilin-1 Mofang-01A(R),Active,NaN,Failure,Jiuquan Satellite Launch Center,,China

In [27]:
#Group by state and count missions per state and MissionStatus
missions_per_countryNUS = cleaned_world_df.pivot_table(index='Country', columns='MissionStatus',aggfunc='size', fill_value=0)

#Print Data Frame
missions_per_countryNUS

MissionStatus  Failure  Partial Failure  Prelaunch Failure  Success
Country
Australia            3                0                  0        3
Brazil               2                0                  1        0
China               24                6                  0      338
France              14                5                  0      299
Gran Canaria         0                0                  0        2
India                9                5                  0       68
Iran                 9                0                  1        7
Israel               2                0                  0        9
Japan               10                3                  0      117
Kazakhstan          72               21                  1      625
Kenya                0                0                  0        9
New Zealand          3                0                  0       25
North Korea          3                0                  0        2
Pacific Ocean        3                0                  0       33
Russia              64               30                  0     1325
South Korea          3                0                  0        2